.mail-index {
    display: grid;
    grid-template-columns: max-content 1fr;

    background-color: var(--clr-bg-main);
}

.mail-index > *:nth-child(2) {
    height: 98%;

    border-radius: var(--radius-panel);
    background-color: var(--clr-white);
}

.mail-index.menu-open {
    grid-template-columns: 16em 1fr;
}