.mail-list {
    display: grid;
    grid-template-columns: 3em 9em 1fr 4.5em max-content;
    align-content: start;

    height: 98%;

    border-radius: var(--radius-panel);
    background-color: var(--clr-white);
}

.mail-list > li {
    grid-column: 1 / -1;
    
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;

    height: 2.5em;
    padding-inline-end: 1em;
}

.mail-list > li:first-of-type {
    border-radius: 10px 10px 0 0;
}

.mail-list > li > *:last-child {
    justify-self: start;
}

.received-at {
    grid-column: 5;
}