.mail-details {
    display: grid;
    grid-template-rows: 3em 1fr;
    gap: 1.25em;

    border-radius: var(--radius-panel) var(--radius-panel) 0 0;
    padding-block-start: 1em;
    padding-inline: 1em;
}

@media (min-width: 651px) {
    .mail-details {
        padding-block-start: 0;
        padding-inline-start: 0;
    }
}

.mail-options {
    display: flex;
    align-items: center;
    gap: .2em;
}

.mail-options>.btn-star,
.mail-options>.btn-star.marked {
    opacity: 1;
}

.mail-options .mail-nav.first {
    margin-inline-start: auto;
}


.mail-content {
    display: grid;
    grid-template-rows: 3.5em 2.5em 1fr;
    grid-template-columns: 1fr;
}

.mail-subject {
    grid-column: 1;
    align-self: center;

    font-weight: 400;
    font-size: 1.375em;
}

.mail-meta {
    grid-column: 1;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: start;
    gap: 1em;
}

.sender-avatar {
    grid-column: 1;
    align-self: center;
    justify-self: center;

    width: 2.5rem;
    height: 2.5rem;
}

.mail-body {
    grid-column: 1;
    grid-row: 3;

    padding-block: 1em;
}

.sent-at-full {
    display: none;
}

.sent-at-date-only {
    display: inline;
}

@media (min-width: 651px) {
    .mail-content {
        grid-template-columns: 5em 1fr max-content;
    }

    .mail-subject,
    .mail-body {
        grid-column: 2;
    }

    .mail-meta {
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        gap: 0;
    }

    .mail-body {
        padding-block: .5em 0;
    }

    .sent-at-full {
        display: inline;
    }
}

.sent-at-date-only {
    display: none;
}
