.mail-details {
    display: grid;
    grid-template-rows: 3em 1fr;
    gap: 1.25em;

    border-radius: var(--radius-panel) var(--radius-panel) 0 0;
    padding-inline-end: 1em;
}

.mail-options {
    display: flex;
    align-items: center;
    gap: .2em;
}

.mail-options .mail-nav.first {
    margin-inline-start: auto;
}

.mail-content {
    display: grid;
    grid-template-rows: 3.5em 2.5em 1fr;
    grid-template-columns: 5em 1fr max-content;
}

.mail-subject {
    grid-column: 2;
    align-self: center;

    font-weight: 400;
    font-size: 1.375em;
}

.mail-meta {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: start;
}

.user-avatar {
    grid-column: 1;
    align-self: center;
    justify-self: center;

    width: 2.5rem;
    height: auto;

    border-radius: 15px;
}

.mail-body {
    grid-column: 2;
    grid-row:3;

    padding-block-start: .5em;
}
