/* Display */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

/* Text */
.meta-txt {
    color: var(--clr-meta);
}

.small-txt {
    font-size: .75em;
}

.bold-txt {
    font-weight: bold;
}

/* Button */
button:disabled,
.btn:disabled { 
    cursor: default;
}

button.lrg,
.btn.lrg {
    width: 2.5rem;
    height: 2.5rem;

    font-size: 1.1em;
}

.round-btn::before,
.square-btn::before {
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    
    top: 50%;
    left: 50%;

    height: 2em;
    width: 2em;
    
    border-radius: 50%;
    background-color: var(--clr-overlay-hover);

    transform: translate(-50%, -50%) scale(0);
    transition: transform var(--duration-quick) var(--ease-standard);
}

.square-btn::before {
    border-radius: 0;
}

.round-btn:hover::before,
.square-btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.btn-nav:hover {
    color: var(--clr-1);
}

.btn-mail:hover {
    color: var(--clr-2);
}

.btn-delete:hover {
    color: var(--clr-3);
}

.btn-note:hover,
.btn-star:hover {
    color: var(--clr-4);
}