@font-face {
    font-family: GoogleSans;
    src: url("../../fonts/GoogleSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GoogleSans;
    src: url("../../fonts/GoogleSans-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: GoogleSans;
    src: url("../../fonts/GoogleSans-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: GoogleSans;
    src: url("../../fonts/GoogleSans-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: GoogleSans;
    src: url("../../fonts/GoogleSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: GoogleSans;
    src: url("../../fonts/GoogleSans-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: GoogleSans;
    src: url("../../fonts/GoogleSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: GoogleSans;
    src: url("../../fonts/GoogleSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}