.folders-nav {
    --duration-expand: .3s;
    --delay-expand: .5s;
    --duration-shadow: .08s;
    --compose-size: 3.5em;
    --icon-size: 2em;

    display: grid;
    grid-template-rows: 5em 1fr;

    position: fixed;
    z-index: 20;

    top: 0;
    left: 0;
    bottom: 0;

    width: 0;

    background-color: var(--clr-white);
    box-shadow: 2px 0 4px 0 var(--clr-shadow-main);

    overflow: hidden;
    transition: width var(--duration-expand) ease;
}

.folders-nav.selected,
.folders-nav:hover {
    width: 80%;
    transition: width var(--duration-expand) ease var(--delay-expand);

    .folder.unread::after {
        opacity: 0;
        transition: opacity 0s step-end var(--delay-expand);
    }

    .folder::before {
        content: none;
    }

    .folder-txt {
        visibility: visible;
        transition: visibility 0s step-end var(--delay-expand);
    }

    .folders-list>a::before {
        visibility: visible;
    }

    .folders-list>a:hover:not(:has(.selected))::before {
        width: 15em;
    }

    .folders-list>a:has(.selected)::before {
        width: 20.5em;
        transition:
            visibility 0s step-end var(--delay-expand),
            width 0s ease .1s
        ;
    }

    .compose-area {
        width: 8.3em;
        transition:
            box-shadow var(--duration-shadow) linear,
            width var(--duration-expand) ease var(--delay-expand)
        ;
    }
}

.folders-nav:hover:not(.selected) {
    width: 0;
}

.folders-nav:hover:not(.selected) .folders-list>a:has(.selected)::before {
    width: 0;
}

.folders-nav.selected {
    --delay-expand: 0s;
}

.compose-area {
    align-self: center;

    display: none;
    align-items: center;
    gap: .7em;

    width: var(--compose-size);
    height: var(--compose-size);
    overflow: hidden;

    margin-inline-start: .5em;
    border-radius: 16px;
    background-color: var(--clr-bg-compose);

    transition:
        box-shadow var(--duration-shadow) linear,
        width var(--duration-expand) ease
    ;
}

.compose-area:hover {
    box-shadow:
        0 1px 3px 0 var(--clr-shadow-main),
        0 4px 8px 3px var(--clr-shadow--1)
    ;
}

.compose {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--compose-size);

    padding-inline-start: 1.2em;
}

.compose > i {
    font-size: 1.2em;
}

.folders-list {
    display: grid;
    align-content: start;
}

.folders-list>a {
    position: relative;
    z-index: 0;

    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    justify-content: start;
    align-items: center;
    gap: .5em;

    width: 100%;

    height: 2.5em;
    padding-inline: 1.3em;
    border-radius: 0 20px 20px 0;
}

.folders-list>a::before {
    content: "";
    position: absolute;
    z-index: -1;

    display: block;

    height: 2.5em;
    width: 0;
    left: 0;

    border-radius: 0 20px 20px 0;
    background-color: var(--clr-overlay-hover);

    visibility: hidden;
    transition: visibility 0s step-end var(--delay-expand);
}

.folders-list>a:has(.selected)::before {
    background-color: var(--clr-bg-selected);

    transition:
        visibility 0s step-end,
        width var(--duration-expand) ease
    ;
}

.folder {
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--icon-size);
    width: var(--icon-size);
}

.folder img {
    height: 60%;
    width: 60%;
}

.folder::before {
    transition:
        transform var(--duration-quick) var(--ease-standard),
        content 0s step-end var(--delay-expand) allow-discrete
    ;
}

.folder.selected::before {
    background-color: var(--clr-bg-selected);

    transform: translate(-50%, -50%) scale(1);
}

.folder.unread::after {
    content: "";
    position: absolute;

    display: block;
    opacity: 1;

    top: 5%;
    right: 5%;

    border-radius: 50%;
    padding: .25em;
    background-color: var(--clr-3);

    transition: opacity 0s step-end;
}

.folder-txt {
    visibility: hidden;
    justify-self: end;

    padding-inline-end: .8em;

    font-size: var(--fs-secondary);

    transition: visibility 0s step-end;
}

.folder.unread ~ .folder-txt,
.folder.selected ~ .folder-txt {
    font-weight: 500;
}

.folders-nav-backdrop {
    display: none;
}

.folders-nav-logo {
    display: block;
    align-self: center;
    justify-self: start;

    height: auto;
    width: auto;

    padding-inline-start: 1.7em;
}

.folders-nav.selected ~ .folders-nav-backdrop {
    display: block;
    position: fixed;
    z-index: 15;

    inset: 0;

    background-color: var(--clr-shadow--2);
}

@media (min-width: 651px) {
    .folders-nav {
        position: static;
        z-index: auto;

        top: auto;
        left: auto;
        bottom: auto;

        width: 4.5em;

        background-color: transparent;
        box-shadow: none;
    }

    .folders-nav.selected,
    .folders-nav:hover {
        width: 16em;
    }

    .folders-nav:hover:not(.selected) {
        width: 16em;
    }

    .folders-nav.selected .folders-list>a:has(.selected)::before,
    .folders-nav:hover .folders-list>a:has(.selected)::before {
        width: 15em;
    }

    .folders-nav:hover:not(.selected) .folders-list>a:has(.selected)::before {
        width: 15em;
    }

    .compose-area {
        display: flex;
    }

    .folders-list>a {
        height: auto;
        border-radius: 0;
    }

    .folders-list>a::before {
        height: var(--icon-size);
        border-radius: 0 15px 15px 0;
    }

    .folders-nav-logo {
        display: none;
    }

    .folders-nav.selected ~ .folders-nav-backdrop {
        display: none;
    }
}
