.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    border: none;
    border-radius: 50%;
    color: var(--clr-white);
    /* font-weight: bold; */
    text-transform: uppercase;
}
